@import "../../assets/fonts.scss";
@import "../../assets/colors.scss";

.container-background{
	background: linear-gradient(#bea55a 0%, #36342e 75.81%, #0e0e0e 100%);
	display: flex;
	flex-direction: row;
  	align-items: center;
  	height: 100%;
}

.content {
	max-height: 100%;
 	overflow-x: hidden;
	.login-header {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5%;
		margin: 20px 0;
		.brasao-side {
			#pcdf-brasao {
				margin-left: 20px;
			}
		}

		.description-side {
			color: $primary-white;

			em {
				font-size: 22px;
			}
		}
	}

	.alert-message-container {
		background-color: $secondary-dark;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 10px;
		text-align: center;
		padding: 20px;
		.alert-atention {
			color: $primary-gold;
		}
		ul {
			color: $primary-white;
			text-align: left;
			.alert-advertisement {
				font-size: 22px;
				margin-left: 40px;
				padding: 10px 0;
			}
		}
	}

	.login-form {
		width: 60%;
		margin: 20px auto;

		text-align: center;
		.credential-label {
			display: block;
			text-align: left;
			font-size: 28px;
			color: $primary-white;
		}

		.credential-input {
			border-radius: 10px;
			font-size: 22px;
			padding: 10px 15px;
			width: 100%;

			&:focus {
				outline: none;
			}
		}

		.submit-btn {
			margin-top: 40px;
			width: 100px;
		}

		.error-login-msg {
			margin: 10px 0;
			color: rgb(226, 38, 38);
		}

		.reset-password {
			color: $primary-gold;
			&:hover {
				color: #c7a644;
			}
		}
	}
}
