.container-background {
	background: linear-gradient(#bea55a 0%, #36342e 75.81%, #0e0e0e 100%);
	height: 100%;
}

.content {
	height: 100vh !important;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login-form {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	color: white;
}

.login-header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
	white-space: nowrap;
	margin-bottom: 60px;
}
.description-side {
	color: white;
	margin-left: 40px;
}

.description-side em {
	font-size: 22px;
}
